// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-blue: #3C8DBC;
$off-blue: #367FA9;
$dark-blue: #222D32;
$light-blue: #EBEFF5;
$button-blue: #1784c7;

$nav-hover: #121c21;
$nav-text: #92A0A6;

$light-grey: #2d383d;


* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background: #fefefe;
  margin: 0;
  border: 0;
}

#responsive-nav {
  display: none;
}

#responsive-nav + label {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  font-size: 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 3;
  -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

aside {
  position: fixed;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: green;
  width: 260px;
  height: 100%;
}

.logo-area {
  background: $off-blue;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

nav {
  background: $dark-blue;
  width: 100%;
  height: 100%;
}
nav > a, nav label {
  padding: 20px 24px;
}
nav a, nav label {
  width: 100%;
  display: block;
  text-decoration: none;
  color: $nav-text;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: none;
  transition: none;
}
nav a:hover, nav label:hover {
  background: $nav-hover;
}
nav label:before, nav label:after {
  content: '';
  float: right;
  width: 2px;
  height: 7px;
  background: $nav-text;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: 4px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
nav label:before {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
nav label:after {
  -webkit-transform: rotate(-50deg) translate(-6px, 1px);
  transform: rotate(-50deg) translate(-6px, 1px);
}

.wrap {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.wrap a {
  padding: 0 24px 0 34px;
  height: 0;
  font-weight: 400;
  -webkit-transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

input[id^="nav-collapsible"] {
  display: none;
}
input[id^="nav-collapsible"]:checked + label {
  -webkit-transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: $nav-hover;
}
input[id^="nav-collapsible"]:checked + label:before {
  -webkit-transform: rotate(-230deg) translate(5px, -5px);
  transform: rotate(-230deg) translate(5px, -5px);
}
input[id^="nav-collapsible"]:checked + label:after {
  -webkit-transform: rotate(50deg) translate(5px, -2px);
  transform: rotate(50deg) translate(5px, -2px);
}
input[id^="nav-collapsible"]:checked ~ .wrap {
  height: auto;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
input[id^="nav-collapsible"]:checked ~ .wrap a {
  background: $light-grey;
  height: 54px;
}

main {
  background: $light-blue;
  width: calc(100% - 260px);
  margin-left: 260px;
  height: 100%;
  padding: 20px;
}

.topnav {
  background: $main-blue;
  width: calc(100% - 260px);
  margin-left: 260px;
  height: 50px;
  color: white;
  position: fixed;
}

@media screen and (max-width: 1120px) {
  aside {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  main {
    width: 100%;
    margin-left: 0;
  }

  .topnav {
    width: 100%;
    margin-left: 0;
  }

  #responsive-nav + label {
    display: block;
  }
  #responsive-nav:checked + label {
    color: white;
    background: $main-blue;
  }
  #responsive-nav:checked ~ aside {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (max-width: 700px) {
  aside {
    width: 100%;
  }

  #responsive-nav + label {
    padding: 22px;
    font-size: 24px;
  }
}

.row {
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.spacer {
  margin-top: 55px;
}

h1 {
  margin: 0 0 15px 0;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  background: grey;
}

.alert-success {
  background: green;
  color: lightgreen;
}

.alert-danger {
  background: red;
  color: white;
}

.top_sink {
  background: white;
  border: 1px solid blue;
  padding: 5px;
}